* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}
.b {
  border: 1px solid black;
}
.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.files__description {
  font-size: 0.9rem;
  text-align: center;
}
.image__illustration {
  max-width: 100%;
  height: auto;
}
.productive {
  background-color: #f6f6fe;
}
.access {
  background-color: #585989;
}
.footer {
  background-color: #070439;
}
